@use '../base/variables' as v;
@use '../base/mixins' as m;


.content,
.info {
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 1rem;

    @include m.telefono{
        width: 55%;
    }

    @include m.tablet{
        font-size: 2rem;
        width: 70%;
    }

    @include m.desktop{
        width: 50%;
    }
}


.content {
    height: 27rem;
    background-color: v.$bg-dark-cont;
    border: 3px solid v.$border-light;

    @include m.telefono{
        height: 20rem;
    }

    @include m.tablet{
        height: 17rem;
    }
}



.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2.5rem 0;

    @include m.telefono{
        flex-direction: row;
        margin: 0;
    }

    &__image {

        width: 9rem;
    }

    &__text {
        color: v.$text-light;
        font-weight: bold;
    }

}


.form {

    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    height: 3rem;
    flex-basis: 100%;
    margin-top: 2.5rem;
    gap: 1rem;

    @include m.tablet {

        flex-direction: row;
    }

    &__text,
    &__submit {
        color: v.$text-light;
        border: 2px solid v.$border-light;
        border-radius: 1rem;
        padding: .5rem;
        background-color: transparent;
    }

    &__text {
        flex: 4;

        &::placeholder {
            color: v.$text-light;
        }

    }

    &__submit {
        flex: 1;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;

    }

}

.info {
    height: 22rem;
    background-color: v.$bg-light;
    margin-top: 2rem;

    &-content {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 3px solid v.$bg-dark;
        padding: 1rem 1rem 2rem 1rem;
        margin: 0;

        @include m.telefono{
            flex-direction: row;
        }

        img {
            width: 7rem;
        }

        p {
            
            margin: 1rem 0 0 .2rem;
            font-weight: bold;

            @include m.tablet{
                margin: 1rem 0 0 1rem;
            }
        }
    }

}

ul {

    background-color: v.$bg-dark-cont;
    padding: 1rem;
    padding-left: 2rem;
    margin-top: 1rem;

    @include m.telefono{
        margin-top: 3rem;
    }

    @include m.tablet{
        margin-top: 1rem;
    }

    li {
        font-weight: bold;
        margin-bottom: .3rem;
        color: v.$text-light;
    }
}